body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Montserrat", sans-serif !important;
}

body {
  min-height: 100dvh;
  justify-content: end;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  letter-spacing: 0.3px;
}

/* Common text styles */
p, span, div {
  text-align: justify;
}

/* Headings specific styles */
h1, h2, h3 {
  font-weight: bold;
}

/* Links text */
a {
  color: rgb(174, 83, 142);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
