body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  justify-content: end;
  align-items: center;
  background: linear-gradient(-45deg, #7c89ff, #d6fff6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
